<section class="m-section-category-select">
  <a href="#" class="category-current" ng-click="isActive = !isActive">
    <span class="current-label">{{ ::'UI_SELECT_CATEGORY_CURRENT' | translate }}:</span> 
    <span class="current-title" ng-bind-html="::currentCategory.name"></span>
    <span class="select-indicator">
      <i class="icon icon-chevron-down" ng-class="{'active' : isActive}"></i>
    </span>
  </a>

  <ul class="list-category" ng-class="{'active' : isActive}">
    <li>
      <a href="" ng-click="::setCategory()">All</a>
    </li>
    <li ng-repeat="category in ::categories">
      <a href="" ng-bind-html="::category.name" ng-click="::setCategory($index)"></a>
    </li>
  </ul>
</section>