<header id="l-header">
  <a class="m-nav-btn m-nav-toggle" ng-click="activeToggle = !activeToggle" ng-class="{'active': activeToggle}">
    <i class="icon" ng-class="{'icon-menu': !activeToggle, 'icon-cross': activeToggle}"></i>
  </a>
  <nav class="m-nav-main" ng-class="{'active': activeToggle}">
    <ul>
      <li ng-repeat="item in menu.items">
        <a ng-href="{{ ::item.url }}" class="m-nav-btn" ng-attr-title="{{ ::item.title }}">
          <i class="" ng-class="::item.attr"></i>
        </a>
      </li>
    </ul>
  </nav>
  <a href="/" class="main-logo">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="11.336px" height="220px" viewBox="0 0 11.336 220" enable-background="new 0 0 11.336 220" xml:space="preserve">
      <rect fill="none" width="11.336" height="220"/>
      <text transform="matrix(4.489659e-11 -1 1 4.489659e-11 9.313 220)" fill="#FFFFFF" font-family="'JosefinSans-SemiBold'" font-size="12">MARNIX HARDERWIJK</text>
      <text transform="matrix(4.489659e-11 -1 1 4.489659e-11 9.313 95.9395)" font-family="'JosefinSans'" font-size="12">   </text>
      <text transform="matrix(4.489659e-11 -1 1 4.489659e-11 9.313 87.0977)" fill="#6ECFF6" font-family="'JosefinSans-SemiBold'" font-size="12">FRONT-END DEVELOPER</text>
      <path display="none" d="M-193.998-14.003"/>
    </svg>
  </a>
</header>